<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="js/angular.min.js"></script>
      <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body data-ng-app='ShoppingListApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row" >

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ShoppingListController as ctrl1'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in ctrl1.items">Buy {{item.quantity}} {{item.name}} <button class="btn btn-default" data-ng-click="ctrl1.markItemBought($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="ctrl1.items.length<1">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6"  ng-controller='BoughtListController as ctrl2'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in ctrl2.items">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div class="emptyMessage" ng-if="ctrl2.items.length<1">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
